h1{
    text-align: center;
}

#add-item-form table, #display-item-table{
    align-items: center;
    width: 70vw;
    margin: auto;
    border-collapse: collapse;
}

#add-item-form tr td, #display-item-table tr td{
    border: 1px black solid;
    text-align: center;
    padding: 5px;
}

#add-item-form input{
    width:100%;
}

#add-item-div{
    width: 70vw;
    margin: auto;
    margin-bottom: 10vh;
    align-items: flex-start;;
    display: flex;
    gap: 8px;
}

#add-item-text{
    margin:2px;
    min-height: 2em;
}

#get-item-div{
    display: flex;
    align-items: flex-start;
    gap: 8px;
    width: 70vw;
    margin: auto;
}

#get-item-text{
    margin: 0px;
}

thead{
    background-color: lightgray;
}

tbody{
    background-color: white;
}

#display-item-table-div{
    width: 70vw;
    margin: auto;
    overflow: auto;
}

#display-item-table-div::-webkit-scrollbar {
  height: 8px;
}

#display-item-table-div::-webkit-scrollbar-thumb {
  background: #989696;
  border-radius: 4px;
}

#display-item-table-div::-webkit-scrollbar-track {
  background: #f4f0f0;
}

#delete-edit-item-text{
    margin: 0px;
    margin-bottom: 0.5rem;
}

body {
  background-image: url("warehouse.jpeg");
  background-repeat: no-repeat;   /* prevents tiling */
  background-size: cover;         /* scales image to fill screen */
  background-position: center;    /* centers the image */
  background-attachment: fixed;   /* optional: makes it stay in place when scrolling */
}

#background-div {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);          
  border-radius: 16px;                
  width: 70vw;  
  padding: 2rem;           
  margin: 2rem auto;
}

#introduction-paragraph {
    background: rgba(188, 176, 176, 0.6);
    box-shadow: inset 4px 4px 8px rgba(0,0,0,0.3),
                inset -4px -4px 8px rgba(255,255,255,0.6);
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
}

#introduction-paragraph p {
    margin: 0;
}

p, tr, td, button, input{
    font-size: 1.1rem;
}

.spinner {
  width: 10px;
  height: 10px;
  border: 4px solid #b8a5a5;
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#server-loading-text {
    margin: 0px;
}

#spinner-div {
    display: flex;
    align-items: center;
}

#server-wake-up-status-text{
    margin: 10px 0px;
}

@media (max-width: 768px) {
    #add-item-form table, #add-item-div, #get-item-div, #display-item-table-div, 
    #display-item-table, #background-div {
        width: 90vw;
    }
    #background-div {
        padding: 1rem;           
        margin: 0px;
    }
    p, tr, td, button, input{
        font-size: 0.9rem;
    }
}