h1{
    text-align: center;
}

#add-item-form table, #display-item-table{
    align-items: center;
    width: 70vw;
    margin: auto;
    border-collapse: collapse;
}

#add-item-form tr td, #display-item-table tr td{
    border: 1px black solid;
    text-align: center;
    padding: 5px;
}

#add-item-form input{
    width:100%;
}

#add-item-button-div{
    width: 70vw;
    margin: auto;
    margin-bottom: 10vh;
}

#add-item-button-text{
    margin:2px;
    min-height: 2em;
}

#get-item-div{
    display: flex;
    align-items: flex-start;
    gap: 8px;
    width: 70vw;
    margin: auto;
}

#get-item-text{
    margin: 0px;
}

thead{
    background-color: lightgray;
}

#display-item-table-div{
    width: 70vw;
    margin: auto;
}

#delete-edit-item-text{
    margin: 0px;
}
