h1{
    text-align: center;
}

#add-item-form table, #display-item-table{
    align-items: center;
    width: 70vw;
    margin: auto;
    border-collapse: collapse;
}

#add-item-form tr td, #display-item-table tr td{
    border: 1px black solid;
    text-align: center;
    padding: 5px;
}

#add-item-form input{
    width:100%;
}

#add-item-button-div{
    width: 70vw;
    margin: auto;
    margin-bottom: 10vh;
}

#add-item-button-text{
    margin:2px;
    min-height: 2em;
}

#get-item-div{
    display: flex;
    align-items: flex-start;
    gap: 8px;
    width: 70vw;
    margin: auto;
}

#get-item-text{
    margin: 0px;
}

thead{
    background-color: lightgray;
}

tbody{
    background-color: white;
}

#display-item-table-div{
    width: 70vw;
    margin: auto;
}

#delete-edit-item-text{
    margin: 0px;
}

body {
  background-image: url("warehouse.jpeg");
  background-repeat: no-repeat;   /* prevents tiling */
  background-size: cover;         /* scales image to fill screen */
  background-position: center;    /* centers the image */
  background-attachment: fixed;   /* optional: makes it stay in place when scrolling */
}

#background-div {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);          
  border-radius: 16px;                
  width: 70vw;  
  padding: 2rem;           
  margin: 2rem auto;
}