h1{
    text-align: center;
}

#add-item-form table{
    align-items: center;
    width: 70vw;
    margin: auto;
    border-collapse: collapse;
}

#add-item-form tr td{
    border: 1px black solid;
    text-align: center;
    padding: 5px;
}

#add-item-form input{
    width:100%;
}

#add-item-button-div{
    width: 70vw;
    margin: auto;
}

#add-item-button-text{
    margin:2px;
    min-height: 2em;
}

#get-item-div{
    display: flex;
    align-items: flex-start;
    gap: 8px;
    width: 70vw;
    margin: auto;
}
